{% extends "base_generic.html" %}

{% block title %}Мои публикации{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Мои публикации</h2>

    <ul class="list-group">
        {% for post in publications %}
            <li class="list-group-item">
                <a href="{% url 'blog_detail' post.id %}">{{ post.title }}</a> - {{ post.published_date }}
            </li>
        {% empty %}
            <li class="list-group-item">Публикации пока не добавлены.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
