# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django specific
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
*.pdb
db.sqlite3
*.env

# If you are using SQLite database files
*.db


# Django migrations
**/migrations/
**/migrations/*.pyc
**/migrations/*.pyo
**/migrations/*.pyd
**/migrations/*.log

# Static and media files
/static/
media/
staticfiles/

# Backup files
*.bak
*.swp
*.swo
*.tmp
*.temp

# IDEs and Editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Distribution / packaging
.Python
*.egg-info/
.installed.cfg
*.egg
*.whl

# Env files
.env
.env.local
.env.development
.env.production
.env.test
.env*.local

# pipenv
Pipfile.lock

# poetry
poetry.lock

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Celery
celerybeat-schedule
celerybeat.pid

# dotenv
.env.*.local

# Coverage reports
htmlcov/
.coverage
.tox
.nox
.cache

# pytest
.pytest_cache/

# Unit test / coverage reports
coverage.*
nosetests.xml
xunit.xml
*.cover
.hypothesis/
