{% extends 'base.html' %}
{% block title %}Создать / Редактировать сообщение{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>{% if message.pk %}Редактировать{% else %}Создать{% endif %} сообщение</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="theme" class="form-label">Тема</label>
            {{ form.theme }}
        </div>
        <div class="mb-3">
            <label for="body" class="form-label">Содержание</label>
            {{ form.body }}
        </div>
        <button type="submit" class="btn btn-success">{% if message.pk %}Обновить{% else %}Создать{% endif %}</button>
        <a href="{% url 'mailings:messages' %}" class="btn btn-secondary">Отмена</a>
    </form>
</div>
{% endblock %}
