{% extends 'base.html' %}
{% block title %}Отчёт по рассылкам{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="col-md-8 offset-md-2 text-center">
        <h2>Отчёт по рассылкам</h2>
        <table class="table table-striped mt-4">
            <thead>
                <tr>
                    <th>Всего рассылок</th>
                    <th>Активных рассылок</th>
                    <th>Уникальных клиентов</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ mailing_count }}</td>
                    <td>{{ active_mailing_count }}</td>
                    <td>{{ unique_clients_count }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="mt-5 text-center">
        <h3>Интересные факты и новости</h3>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4 mt-4">
        {% for post in blog_list %}
        <div class="col">
            <div class="card h-100">
                <img src="{{ post.preview.url }}" class="card-img-top" alt="{{ post.title }}" style="max-height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.content|truncatechars:150 }}</p>
                    <a href="{% url 'blog:blog_detail' post.pk %}" class="btn btn-primary">Подробнее</a>
                </div>
                <div class="card-footer text-muted">
                    Опубликовано {{ post.created_at|date:"d M Y" }}
                </div>
            </div>
        </div>
        {% empty %}
        <p>Нет доступных блог-постов.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
