<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Главная{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <!-- Навигация -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'home' %}">Главная</a>

            <!-- Проверяем, что пользователь является администратором -->
            {% if is_admin %}
                <!-- Если пользователь не на странице админ-панели, показываем ссылку на нее -->
                {% if not on_admin_dashboard %}
                    <a class="nav-link" href="{% url 'admin_dashboard' %}">Админ панель</a>
                {% endif %}

                <!-- Если пользователь на админ-панели, показываем ссылки для управления рассылками и пользователями -->
                {% if on_admin_dashboard %}
                    <a class="nav-link" href="{% url 'admin:index' %}mailings/mailing/">Управление рассылками</a>
                    <a class="nav-link" href="/admin/users/" class="nav-link">Управление пользователями</a>
                {% endif %}
            {% endif %}

            <!-- Для менеджера -->
            {% if is_manager %}
                <a class="nav-link" href="{% url 'manager_dashboard' %}">Менеджер панель</a>
            {% endif %}

            <!-- Для клиента -->
            {% if is_client %}
                <a class="nav-link" href="{% url 'client_dashboard' %}">Клиент панель</a>
            {% endif %}

            <!-- Кнопки для входа и выхода -->
            {% if user.is_authenticated %}
                <a class="nav-link" href="{% url 'account_logout' %}" class="btn btn-danger">Выйти</a>
            {% else %}
                <a class="nav-link" href="{% url 'account_login' %}" class="btn btn-primary">Войти</a>
            {% endif %}
        </nav>

        <!-- Содержание страницы -->
        <div>
            {% block content %}
            <!-- Контент страницы будет сюда вставляться -->
            {% endblock %}
        </div>
    </div>
</body>
</html>
