{% extends "base_generic.html" %}

{% block title %}Панель клиента{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Панель клиента</h2>

    <!-- Отображаем информацию для клиента -->
    <div class="row">
        <div class="col-md-12">
            <h3>Мои рассылки</h3>
            <ul>
                {% for mailing in mailings %}
                    <li>{{ mailing.name }} - {{ mailing.status }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
