{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="text-center py-5">
    <h2 class="display-4">Bienvenue!</h2>
    <p class="lead">Это главная страница, доступная для всех пользователей.</p>
    <div class="card mt-4 shadow-lg">
        <div class="card-body">
            <p class="card-text">Управляйте рассылками и следите за важной статистикой.</p>
            <p class="card-text">Будьте богаты и счастливы.</p>
            <a href="{% url 'accounts:register' %}" class="btn btn-outline-secondary">Зарегистрироваться</a>
        </div>
    </div>
</div>
{% endblock %}
