{% extends "base_generic.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="container mt-4">
   <h1 class="text-center">Добро пожаловать</h1>

   <!-- Раздел случайных статей блога -->
   <h2 class="text-center my-5">Случайные статьи из блога:</h2>
   <ul class="list-group">
       {% for post in random_posts %}
           <li class="list-group-item">
               <a href="{% url 'blog_detail' post.id %}">{{ post.title }}</a> - {{ post.published_date }}
           </li>
       {% empty %}
           <li class="list-group-item">Статьи пока не добавлены.</li>
       {% endfor %}
   </ul>

   <!-- Кнопка для перехода на страницу блога -->
   <div class="text-center mt-4">
       <a href="{% url 'blog_list' %}" class="btn btn-primary">Перейти ко всем статьям блога</a>
   </div>
</div>
{% endblock %}
