{% extends "base_generic.html" %}

{% block title %}Менеджер панель{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Менеджер панель</h2>

    <!-- Отображаем список рассылок -->
    <h3 class="mt-4">Список рассылок</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Название рассылки</th>
                <th>Статус</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
            {% for mailing in mailings %}
            <tr>
                <td>{{ mailing.name }}</td>
                <td>
                    {% if mailing.status == 'disabled' %}
                        Отключена
                    {% else %}
                        Активна
                    {% endif %}
                </td>
                <td>
                    {% if mailing.status != 'disabled' %}
                        <a href="{% url 'disable_mailing' mailing.id %}" class="btn btn-warning mr+3">Отключить</a>
                    {% else %}
                        <button class="btn btn-secondary mr+3" disabled>Отключена</button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Отображаем список пользователей -->
    <h3 class="mt-4">Список пользователей</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Имя пользователя</th>
                <th>Статус</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
            <tr>
                <td>{{ client.full_name }}</td>
                <td>
                    {% if not client.is_active %}
                        Заблокирован
                    {% else %}
                        Активен
                    {% endif %}
                </td>
                <td>
                    {% if client.is_active %}
                        <a href="{% url 'block_user' client.id %}" class="btn btn-danger mr+3">Заблокировать</a>
                    {% else %}
                        <button class="btn btn-secondary mr+3" disabled>Заблокирован</button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
