{% extends 'base.html' %}
{% block title %}Создать / Редактировать клиента{% endblock %}

{% block content %}
<div class="container mt-4">
   <h2>{% if form.instance.pk %}Редактировать{% else %}Создать{% endif %} клиента</h2>
   <form method="post">
       {% csrf_token %}

       {% if user.is_superuser %}
           <!-- Администратор может редактировать данные клиента и статус -->
           <div class="mb-3">
               <label class="form-label">Email</label>
               {{ form.email }}
           </div>
           <div class="mb-3">
               <label class="form-label">Имя</label>
               {{ form.name }}
           </div>
           <div class="mb-3">
               <label class="form-label">Комментарии</label>
               {{ form.comments }}
           </div>
           <div class="mb-3">
               <label class="form-label">Статус клиента</label>
               {{ form.is_active }}
           </div>
           <button type="submit" class="btn btn-success">{% if form.instance.pk %}Обновить{% else %}Создать{% endif %}</button>

       {% elif is_manager %}
           <!-- Менеджер может активировать клиента -->
           <div class="mb-3">
               <p><strong>Email:</strong> {{ form.instance.email }}</p>
               <p><strong>Имя:</strong> {{ form.instance.name }}</p>
               <p><strong>Комментарии:</strong> {{ form.instance.comments }}</p>
               <p><strong>Статус:</strong> {% if form.instance.is_active %}Активен{% else %}Неактивен{% endif %}</p>
           </div>

           {% if form.instance.is_active %}
               <a href="{% url 'mailing_service:block_client' form.instance.pk %}" class="btn btn-warning">Заблокировать клиента</a>
           {% else %}
               <a href="{% url 'mailing_service:unblock_client' form.instance.pk %}" class="btn btn-success">Активировать клиента</a>
           {% endif %}

       {% elif is_client %}
           <!-- Обычные пользователи могут только создавать неактивных клиентов -->
           <div class="mb-3">
               <label class="form-label">Email</label>
               {{ form.email }}
           </div>
           <div class="mb-3">
               <label class="form-label">Имя</label>
               {{ form.name }}
           </div>
           <div class="mb-3">
               <label class="form-label">Комментарии</label>
               {{ form.comments }}
           </div>
           <input type="hidden" name="is_active" value="False"> <!-- Клиенты могут создавать только неактивных клиентов -->
           <button type="submit" class="btn btn-success">Создать клиента</button>
       {% endif %}

       <a href="{% url 'mailing_service:clients' %}" class="btn btn-secondary">Отмена</a>
   </form>
</div>
{% endblock %}
