{% extends 'base.html' %}
{% block title %}Создать / Редактировать рассылку{% endblock %}

{% block content %}
<div class="container mt-4">
 <h2>{% if form.instance.pk %}Редактировать{% else %}Создать{% endif %} рассылку</h2>

 <form method="post">
     {% csrf_token %}
     <div class="mb-3">
         <label class="form-label">Дата начала (формат: YYYY-MM-DD)</label>
         {{ form.start_date }}
     </div>
     <div class="mb-3">
         <label class="form-label">Время начала (формат: HH:MM)</label>
         {{ form.start_time }}
     </div>
     <div class="mb-3">
         <label class="form-label">Дата окончания (формат: YYYY-MM-DD)</label>
         {{ form.end_date }}
     </div>
     <div class="mb-3">
         <label class="form-label">Время окончания (формат: HH:MM)</label>
         {{ form.end_time }}
     </div>
     <div class="mb-3">
         <label class="form-label">Периодичность</label>
         {{ form.periodicity }}
     </div>
     <div class="mb-3">
         <label class="form-label">Сообщение</label>
         {{ form.message }}
     </div>
     <div class="mb-3">
         <label class="form-label">Клиенты</label>
         {{ form.clients }}
     </div>

     <!-- Статус рассылки можно редактировать только менеджерам и суперпользователям -->
     {% if user.is_superuser or is_manager %}
     <div class="mb-3">
         <label class="form-label">Статус рассылки</label>
         {{ form.mailing_status }}
     </div>
     {% else %}
     <!-- Для обычных пользователей скрытое поле со статусом "Создана" -->
     <input type="hidden" name="mailing_status" value="created">
     {% endif %}

     <button type="submit" class="btn btn-success">{% if form.instance.pk %}Обновить{% else %}Создать{% endif %}</button>
     <a href="{% url 'mailing_service:settings' %}" class="btn btn-secondary">Отмена</a>
 </form>
</div>

<!-- Отображение ошибок -->
{% if form.errors %}
<div class="alert alert-danger">
  <ul>
    {% for field, errors in form.errors.items %}
      <li>{{ field }}: {{ errors|join:", " }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}
{% endblock %}
