{% extends 'base.html' %}
{% block title %}Детали рассылки{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Детали рассылки</h2>
    <div class="card">
        <div class="card-body">
            <p><strong>Начало:</strong> {{ mailing.start_datetime }}</p>
            <p><strong>Окончание:</strong> {{ mailing.end_datetime }}</p>
            <p><strong>Периодичность:</strong> {{ mailing.get_periodicity_display }}</p>
            <p><strong>Статус:</strong> {{ mailing.get_mailing_status_display }}</p>
            <p><strong>Сообщение:</strong> {{ mailing.message.theme }}</p>
            <p><strong>Клиенты:</strong>
                {% for client in mailing.clients.all %}
                    {{ client.email }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
            <a href="{% url 'mailings:settings' %}" class="btn btn-primary">Назад к списку</a>
            <a href="{% url 'mailings:update_setting' mailing.pk %}" class="btn btn-warning">Редактировать</a>
            <a href="{% url 'mailings:delete_setting' mailing.pk %}" class="btn btn-danger">Удалить</a>
        </div>
    </div>
</div>
{% endblock %}
