{% extends 'base.html' %}
{% block title %}Детали сообщения{% endblock %}

{% block content %}
<div class="container mt-4">
   <h2>Детали сообщения</h2>
   <div class="card">
       <div class="card-body">
           <h5 class="card-title">{{ object.theme }}</h5>
           <p class="card-text">{{ object.body }}</p>

           <!-- Показываем владельца сообщения только для админов и менеджеров -->
           {% if is_superuser_or_manager %}
               <p class="card-text"><strong>Владелец:</strong> {{ object.owner }}</p>
           {% endif %}

           <a href="{% url 'mailing_service:messages' %}" class="btn btn-primary">Назад к списку</a>

           <!-- Показываем кнопки "Редактировать" и "Удалить" только для владельца или суперпользователя -->
           {% if request.user == object.owner or request.user.is_superuser %}
               <a href="{% url 'mailing_service:update_message' object.pk %}" class="btn btn-warning">Редактировать</a>
               <a href="{% url 'mailing_service:delete_message' object.pk %}" class="btn btn-danger">Удалить</a>
           {% endif %}
       </div>
   </div>
</div>
{% endblock %}
