{% extends "base_generic.html" %}

{% load socialaccount %}

{% block title %}
   Войти
{% endblock %}

{% block content %}
<div class="container mt-5">
    <!--<h2 class="text-center">Войти</h2>-->
    <form method="post" action="{% url 'account_login' %}" class="mt-4">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-primary btn-block">Войти</button>
    </form>

    <div class="text-center mt-4">
        <p>Или войдите с помощью:</p>
        <ul class="list-inline">
            {% providers_media_js %}
            {% if socialaccount_providers %}
                {% for provider in socialaccount_providers %}
                    <li class="list-inline-item">
                        <a href="{% provider_login_url provider.id %}" class="btn btn-secondary">{{ provider.name }}</a>
                    </li>
                {% endfor %}
            {% else %}
                <p>Нет доступных провайдеров для входа.</p>
            {% endif %}
        </ul>
    </div>

    <div class="text-center mt-4">
        <p>Забыли пароль? <a class="btn btn-secondary mr-3" href="{% url 'account_reset_password' %}">Восстановить пароль</a></p>
        <p>Еще нет аккаунта? <a class="btn btn-info mr-3" href="{% url 'account_signup' %}">Зарегистрироваться</a></p>
    </div>
</div>
{% endblock %}

