{% extends "base_generic.html" %}

{% load socialaccount %}

{% block title %}
    Войти
{% endblock %}

{% block content %}
<h2>Войти</h2>
<form method="post" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Войти</button>
</form>


<p>Или войдите с помощью:</p>
<!--
<ul>
    {% providers_media_js %}
    {% if socialaccount_providers %}
        {% for provider in socialaccount_providers %}
            <li>
                <a href="{% provider_login_url provider.id %}">
                    Войти через {{ provider.name }}
                </a>
            </li>
        {% endfor %}
    {% else %}
        <p>Нет доступных провайдеров для входа.</p>
    {% endif %}
</ul>
-->
<!--
<p>Забыли пароль? <a href="{% url 'account_reset_password' %}">Восстановить пароль</a></p>
-->
<p>Еще нет аккаунта? <a href="{% url 'account_signup' %}">Зарегистрироваться</a></p>
{% endblock %}
