{% extends "base_generic.html" %}

{% block title %}
   Восстановление пароля
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Восстановление пароля</h2>
    <form method="post" action="{% url 'account_reset_password' %}" class="mt-4">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-primary btn-block">Отправить</button>
    </form>

    <div class="text-center mt-4">
        <p><a class="btn btn-info" href="{% url 'account_login' %}">Вернуться к входу</a></p>
    </div>
</div>
{% endblock %}
